*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(246, 246, 246);
}

/* header */
header{
    background-color: white;
    padding: 10px 0px 5px 20px;
}

#logo{
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

#logo-name{
    vertical-align: middle;
    font-size: 65px;
    font-weight: 650;
}

/* main */
main{
    background-color: white;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 5% 10px;
}

/* buttons */
#add-task{
    color: white;
    background-color: rgb(23, 201, 255);
    padding: 5px 10px;
    border: 2px solid rgb(23, 201, 255);
    border-radius: 5px;
}

#add-section{
    color: lightgray;
    padding: 5px 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
}